body{
    text-align: center;
    font-size: 24px;
}

#questionForm, #answerForm{
   display: none;
   background-color: rgb(226, 226, 113);
   width:80%;
   position: relative;
   left: 10%;
}
.question{
    padding-top: 15px
}
#endSubmitDiv{
    padding-bottom: 15px;
}
