@font-face{
    font-family: myTitleFont;
    src: url('../fonts/dayland/Dayland.ttf')
}
@font-face{
    font-family: mySecondFont;
    src: url('../fonts/signatra/Signatra.ttf')
}
#bigTitle{
    font-size: 64px;
    font-family: myTitleFont;
    padding: 5px;
    margin-top: 2%;
    color: rgb(216, 88, 88);
    font-weight: bold;

}
#littleTitle{
    font-size: 48px;
    font-family: mySecondFont;
    margin-bottom: 1%;
    margin-top:1%;
    color: rgb(201, 35, 201)
}

body{
    text-align: center;
    font-size: 24px;
    background-image: url('../images/question-background.png')
}

#questionForm, #answerForm, #startingInfo{
   background-color: rgb(226, 226, 113);
   width:70%;
   position: relative;
   left: 15%;
   padding: 15px 0;
   
}
#questionForm, #answerForm{
    display: none;
}
.question{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed black;
    width: 75%;
    margin: auto
}
#timerBlock{
    position: fixed;
    left: 18%;
    top: 20%;
    background-color: white;
    padding: 7px;
}
button{
    height: 40px;
    font-size: 22px;
}
.buttonDiv{
    padding-top: 10px;
}

.element::-webkit-scrollbar { width: 0 !important }
.element { overflow: -moz-scrollbars-none; }